#rectanglearea {
	width: 700px;
	height: 500px;
	border: 2px solid black;
	position: relative;
	margin-bottom: 10px;
}

.rectangle {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	position: absolute;
}

#following {
	position: relative;
	border: 1px solid black;
	width: 51px;
	height: 40px;
}

.unvisible {
	border: 0px solid white !important;
	color: white !important;
}